<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
        <Property name="pattern">%d %p %c [%t] - %m%n</Property>
        <Property name="fileName">APP-${date:yyyy-MM-dd}.log</Property>
    </Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
		</Console>
		<File name="FileAppender" fileName="${fileName}">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>